DATABASE_URL=postgres://django:db_password@db/postgres

USE_GCS=False
GS_BUCKET_NAME=none
SECRET_KEY=dlz=t@ef0iwd%z3j#jDen+x$1e&a)G5s9^gdm338y4czHt61$g

PASSWORD_NAME=secret_manager_secret_name_with_password
GET_SECRET_ENV=False
LOCAL_DEV=True
ALLOWED_HOSTS=*
CORS_ORIGIN_ALLOW_ALL=True
DEBUG=True


ADMIN_EMAIL=admin@axon.consulting
ADMIN_PASSWORD=test
STRUCTURED_LOGS=False

#MONGO_DB_CONNECTION_STRING=<replaceme>
#STRIPE_WEBHOOK_SECRET=<replaceme>
#STRIPE_API_KEY=<replaceme>
#STRIPE_CALLBACK_LANDING_PAGE=<replaceme>

PRICING_TABLE_ID=prctbl_1OXanvKNgMMHQRAyEhc6xUnO
STRIPE_PUBLISHABLE_KEY=pk_test_51LiJMiKNgMMHQRAygkzkGVyipc36iC8hunfHV8vS7YnkAImcy9R4lx8wXBQMwQsk8V6XgM4mMW0S02w7GeorcLKF00JxikYx03

#GA4_MEASUREMENT_ID=<replaceme>
#GA4_API_KEY=<replaceme>